.container-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

main {
  margin: 2rem;
}

img {
  cursor: pointer;

}

table {
  display: inline-table;
  tbody {
    tr {
      &:hover {
        box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.2);
        cursor: pointer;
      }
      img.fav {
        height: 15px;
      }
      img.icon {
        height: 50px;
      }
      &.selected {
        font-weight: bold;
        box-shadow: inset 0 0 0 99999px rgba(156, 5, 5, 0.2);
      }
    }
  }
}

.sort-icon {
  height: 30px;
  margin-bottom: -8px;
}
