.container-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 2rem;
}

img {
  cursor: pointer;

}

img.fav {
  height: 20px;
}

table tbody tr:hover {
  box-shadow: inset 0 0 0 99999px rgba(0,0,0,0.2);
  cursor: pointer;
}

tr.selected {
  font-weight: bold;
  box-shadow: inset 0 0 0 99999px rgba(156, 5, 5, 0.2);
}

.sort-icon {
   background-color: red;
}
