<h4>Favorites</h4>

<div *ngIf="favorites?.length; else noVoices" class="container-main">

  <div class="filter-container">
    <ng-container *ngFor="let id of favorites">
      <div [ngClass]="{'selected' : id === selected }" class="item-favorite" (click)="onSelectVoice(id)"
           title="Select this voice">
        <img src="assets/{{ getVoiceIcon(id) }}" class="animate__animated animate__fadeInLeft">
        <span class="animate__animated animate__lightSpeedInLeft">{{ getVoiceName(id) }}</span>
      </div>
    </ng-container>
    </div>

    </div>

<ng-template #noVoices>
  <div class="no-results">
    No favorites were found.
  </div>

</ng-template>
