<form [formGroup]="form">
  <div class="filter-container">

    <div class="voice-selected">
      <span *ngIf="selected">{{ selected }} voice selected </span>
    </div>

    <div class="filter-bar">
      <span class="filter-by-label">
        <img src="/assets/filter.svg">
      </span>
      <div>
        <input formControlName="search" placeholder="Type to search a voice..." maxlength="20">
      </div>
      <div>
        <select formControlName="tag">
          <option value="">CATEGORIES</option>
          <option *ngFor="let tag of tags" [value]="tag">{{ tag | uppercase }}</option>
        </select>
      </div>
      <div class="voice-random" (click)="clickedRandomVoice()">
        <img src="/assets/button-random.svg" (click)="clickedRandomVoice()" title="Select a random voice!">
      </div>
    </div>

  </div>

</form>
