.filter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: black;
  span {
    text-transform: uppercase;
    color: white;
  }
  div {
    min-width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
  }
}

.voice-random {
  img {
    cursor: pointer;
  }
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.voice-selected {
  width: 200px;
  text-transform: uppercase;
}

select {
  color: #696A6A;
  background-color: #1E2023;
}

.filter-by-category {
  margin: 10px 0;
}

@media only screen and (max-width:600px) {
  .filter-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .filter-container {
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
  }

  .voice-selected {
    width: 100%;
  }
}
