.filter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2023;
  padding: 10px;
  /* border: 2px solid black; */
  color: black;
  span {
    text-transform: uppercase;
    color: white;
  }
  div {
    min-width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
  }
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.voice-selected {
  text-transform: uppercase;
}

.voice-random {
  cursor: pointer;

}
