.filter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2023;
  padding: 10px;
  border: 2px solid black;
  color: white;
  span {
    text-transform: uppercase;
  }
  div {
    min-width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
  }
}

