.grid-container {
  display: grid;
  grid-template-areas:  'filters filters'
                        'list favorites';
  grid-template-rows: 84px 1fr;
  grid-template-columns: 1fr 20%;
  gap: 10px 10px;


  div {
    text-align: center;
    border: 1px solid #D1D1D2;
    padding-right: 2px;;
  }

  .voice-filters {
    grid-area: filters;
  }

  .voice-list {
    grid-area: list;
  }

  .voice-favorites {
    grid-area: favorites;
    /* background-color: darkseagreen; */
  }

}

@media only screen and (max-width:600px) {

  .grid-container {
    grid-template-areas:  'filters'
                          'list'
                          'favorites';
                          grid-template-columns: 1fr;
                          grid-template-rows: 84px auto auto;
  }
}
